Erestauracja/Service References/ServiceReference/EresService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EresService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contract" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEresService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePasswordQuestionAndAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePasswordQuestionAndAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPasswordAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordAnswer" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPasswordAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserQuestion" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetNumberOfUsersOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnline" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetNumberOfUsersOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UnlockUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_UnlockUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserNameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmail" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserNameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUserLoginDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLoginDate" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUserLoginDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLoginDateResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateFailureCount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFailureCount" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateFailureCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFailureCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurant" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurantsByManagerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantsByManagerLogin" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurantsByManagerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantsByManagerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCountriesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesList" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCountriesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesListResponse" />
  </wsdl:message>
  <wsdl:portType name="IEresService">
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ChangePassword" message="tns:IEresService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ChangePasswordResponse" message="tns:IEresService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswer" message="tns:IEresService_ChangePasswordQuestionAndAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswerResponse" message="tns:IEresService_ChangePasswordQuestionAndAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetPassword" message="tns:IEresService_GetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetPasswordResponse" message="tns:IEresService_GetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetPasswordAnswer" message="tns:IEresService_GetPasswordAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetPasswordAnswerResponse" message="tns:IEresService_GetPasswordAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ResetPassword" message="tns:IEresService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ResetPasswordResponse" message="tns:IEresService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUserQuestion" message="tns:IEresService_GetUserQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserQuestionResponse" message="tns:IEresService_GetUserQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/CreateUser" message="tns:IEresService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/CreateUserResponse" message="tns:IEresService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/DeleteUser" message="tns:IEresService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/DeleteUserResponse" message="tns:IEresService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetAllUsers" message="tns:IEresService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetAllUsersResponse" message="tns:IEresService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetNumberOfUsersOnline" message="tns:IEresService_GetNumberOfUsersOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetNumberOfUsersOnlineResponse" message="tns:IEresService_GetNumberOfUsersOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUser" message="tns:IEresService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserResponse" message="tns:IEresService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUserById" message="tns:IEresService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserByIdResponse" message="tns:IEresService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UnlockUser" message="tns:IEresService_UnlockUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UnlockUserResponse" message="tns:IEresService_UnlockUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUserNameByEmail" message="tns:IEresService_GetUserNameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserNameByEmailResponse" message="tns:IEresService_GetUserNameByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UpdateUser" message="tns:IEresService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UpdateUserResponse" message="tns:IEresService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ValidateUser" message="tns:IEresService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ValidateUserResponse" message="tns:IEresService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLoginDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UpdateUserLoginDate" message="tns:IEresService_UpdateUserLoginDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UpdateUserLoginDateResponse" message="tns:IEresService_UpdateUserLoginDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFailureCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UpdateFailureCount" message="tns:IEresService_UpdateFailureCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UpdateFailureCountResponse" message="tns:IEresService_UpdateFailureCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/AddRestaurant" message="tns:IEresService_AddRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/AddRestaurantResponse" message="tns:IEresService_AddRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantsByManagerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetRestaurantsByManagerLogin" message="tns:IEresService_GetRestaurantsByManagerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetRestaurantsByManagerLoginResponse" message="tns:IEresService_GetRestaurantsByManagerLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetCountriesList" message="tns:IEresService_GetCountriesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetCountriesListResponse" message="tns:IEresService_GetCountriesList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEresService" type="tns:IEresService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordAnswer">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetPasswordAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserQuestion">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUserQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetNumberOfUsersOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/UnlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUserNameByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLoginDate">
      <soap:operation soapAction="http://tempuri.org/IEresService/UpdateUserLoginDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFailureCount">
      <soap:operation soapAction="http://tempuri.org/IEresService/UpdateFailureCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <soap:operation soapAction="http://tempuri.org/IEresService/AddRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantsByManagerLogin">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetRestaurantsByManagerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetCountriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EresService">
    <wsdl:port name="BasicHttpBinding_IEresService" binding="tns:BasicHttpBinding_IEresService">
      <soap:address location="http://localhost:8733/Erestauracja/Contract/EresService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>