Erestauracja/Service References/ServiceReference/EresService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EresService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contract" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEresService_GetContactPageUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactPageUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetContactPageUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactPageUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurant" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRestaurant" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurantsByManagerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantsByManagerLogin" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurantsByManagerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantsByManagerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurant" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMainPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMainPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditMainPage_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMainPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditMainPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMainPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetDeliveryPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetDeliveryPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditDeliveryPage_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDeliveryPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditDeliveryPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDeliveryPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetEventsPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetEventsPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditEventsPage_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEventsPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditEventsPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEventsPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetContactPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetContactPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditContactPage_InputMessage">
    <wsdl:part name="parameters" element="tns:EditContactPage" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditContactPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditContactPageResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCategory" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMenuManager_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuManager" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMenuManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="IEresService_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCountriesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesList" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetCountriesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesListResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetTowns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTowns" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetTowns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTownsResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurantByTown_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantByTown" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRestaurantByTown_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantByTownResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenu" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMainPageUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainPageUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetMainPageUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainPageUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetDeliveryPageUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryPageUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetDeliveryPageUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryPageUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetEventsPageUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsPageUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetEventsPageUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsPageUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePasswordQuestionAndAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePasswordQuestionAndAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPasswordAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordAnswer" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPasswordAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserQuestion" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetNumberOfUsersOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnline" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetNumberOfUsersOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UnlockUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_UnlockUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserNameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmail" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUserNameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUserLoginDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLoginDate" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateUserLoginDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLoginDateResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateFailureCount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFailureCount" />
  </wsdl:message>
  <wsdl:message name="IEresService_UpdateFailureCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFailureCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddUsersToRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersToRoles" />
  </wsdl:message>
  <wsdl:message name="IEresService_AddUsersToRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersToRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_CreateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="IEresService_CreateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IEresService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRolesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUser" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetRolesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUsersInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersInRole" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetUsersInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_IsUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRole" />
  </wsdl:message>
  <wsdl:message name="IEresService_IsUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_RemoveUsersFromRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRoles" />
  </wsdl:message>
  <wsdl:message name="IEresService_RemoveUsersFromRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_RoleExists_InputMessage">
    <wsdl:part name="parameters" element="tns:RoleExists" />
  </wsdl:message>
  <wsdl:message name="IEresService_RoleExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:RoleExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_FindUsersInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersInRole" />
  </wsdl:message>
  <wsdl:message name="IEresService_FindUsersInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersInRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IEresService">
    <wsdl:operation name="GetContactPageUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetContactPageUser" message="tns:IEresService_GetContactPageUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetContactPageUserResponse" message="tns:IEresService_GetContactPageUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/AddRestaurant" message="tns:IEresService_AddRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/AddRestaurantResponse" message="tns:IEresService_AddRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditRestaurant" message="tns:IEresService_EditRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditRestaurantResponse" message="tns:IEresService_EditRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantsByManagerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetRestaurantsByManagerLogin" message="tns:IEresService_GetRestaurantsByManagerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetRestaurantsByManagerLoginResponse" message="tns:IEresService_GetRestaurantsByManagerLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetRestaurant" message="tns:IEresService_GetRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetRestaurantResponse" message="tns:IEresService_GetRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetMainPage" message="tns:IEresService_GetMainPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetMainPageResponse" message="tns:IEresService_GetMainPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMainPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditMainPage" message="tns:IEresService_EditMainPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditMainPageResponse" message="tns:IEresService_EditMainPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetDeliveryPage" message="tns:IEresService_GetDeliveryPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetDeliveryPageResponse" message="tns:IEresService_GetDeliveryPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDeliveryPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditDeliveryPage" message="tns:IEresService_EditDeliveryPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditDeliveryPageResponse" message="tns:IEresService_EditDeliveryPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetEventsPage" message="tns:IEresService_GetEventsPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetEventsPageResponse" message="tns:IEresService_GetEventsPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEventsPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditEventsPage" message="tns:IEresService_EditEventsPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditEventsPageResponse" message="tns:IEresService_EditEventsPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetContactPage" message="tns:IEresService_GetContactPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetContactPageResponse" message="tns:IEresService_GetContactPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditContactPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditContactPage" message="tns:IEresService_EditContactPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditContactPageResponse" message="tns:IEresService_EditContactPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/AddCategory" message="tns:IEresService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/AddCategoryResponse" message="tns:IEresService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetCategories" message="tns:IEresService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetCategoriesResponse" message="tns:IEresService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetCategory" message="tns:IEresService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetCategoryResponse" message="tns:IEresService_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditCategory" message="tns:IEresService_EditCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditCategoryResponse" message="tns:IEresService_EditCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/DeleteCategory" message="tns:IEresService_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/DeleteCategoryResponse" message="tns:IEresService_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/AddProduct" message="tns:IEresService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/AddProductResponse" message="tns:IEresService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetMenuManager" message="tns:IEresService_GetMenuManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetMenuManagerResponse" message="tns:IEresService_GetMenuManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetProduct" message="tns:IEresService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetProductResponse" message="tns:IEresService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/EditProduct" message="tns:IEresService_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/EditProductResponse" message="tns:IEresService_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetCountriesList" message="tns:IEresService_GetCountriesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetCountriesListResponse" message="tns:IEresService_GetCountriesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTowns">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetTowns" message="tns:IEresService_GetTowns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetTownsResponse" message="tns:IEresService_GetTowns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantByTown">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetRestaurantByTown" message="tns:IEresService_GetRestaurantByTown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetRestaurantByTownResponse" message="tns:IEresService_GetRestaurantByTown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetMenu" message="tns:IEresService_GetMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetMenuResponse" message="tns:IEresService_GetMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainPageUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetMainPageUser" message="tns:IEresService_GetMainPageUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetMainPageUserResponse" message="tns:IEresService_GetMainPageUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryPageUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetDeliveryPageUser" message="tns:IEresService_GetDeliveryPageUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetDeliveryPageUserResponse" message="tns:IEresService_GetDeliveryPageUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsPageUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetEventsPageUser" message="tns:IEresService_GetEventsPageUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetEventsPageUserResponse" message="tns:IEresService_GetEventsPageUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ChangePassword" message="tns:IEresService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ChangePasswordResponse" message="tns:IEresService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswer" message="tns:IEresService_ChangePasswordQuestionAndAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswerResponse" message="tns:IEresService_ChangePasswordQuestionAndAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetPassword" message="tns:IEresService_GetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetPasswordResponse" message="tns:IEresService_GetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetPasswordAnswer" message="tns:IEresService_GetPasswordAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetPasswordAnswerResponse" message="tns:IEresService_GetPasswordAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ResetPassword" message="tns:IEresService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ResetPasswordResponse" message="tns:IEresService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUserQuestion" message="tns:IEresService_GetUserQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserQuestionResponse" message="tns:IEresService_GetUserQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/CreateUser" message="tns:IEresService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/CreateUserResponse" message="tns:IEresService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/DeleteUser" message="tns:IEresService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/DeleteUserResponse" message="tns:IEresService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetAllUsers" message="tns:IEresService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetAllUsersResponse" message="tns:IEresService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetNumberOfUsersOnline" message="tns:IEresService_GetNumberOfUsersOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetNumberOfUsersOnlineResponse" message="tns:IEresService_GetNumberOfUsersOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUser" message="tns:IEresService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserResponse" message="tns:IEresService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUserById" message="tns:IEresService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserByIdResponse" message="tns:IEresService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UnlockUser" message="tns:IEresService_UnlockUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UnlockUserResponse" message="tns:IEresService_UnlockUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUserNameByEmail" message="tns:IEresService_GetUserNameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUserNameByEmailResponse" message="tns:IEresService_GetUserNameByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UpdateUser" message="tns:IEresService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UpdateUserResponse" message="tns:IEresService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ValidateUser" message="tns:IEresService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ValidateUserResponse" message="tns:IEresService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLoginDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UpdateUserLoginDate" message="tns:IEresService_UpdateUserLoginDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UpdateUserLoginDateResponse" message="tns:IEresService_UpdateUserLoginDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFailureCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/UpdateFailureCount" message="tns:IEresService_UpdateFailureCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/UpdateFailureCountResponse" message="tns:IEresService_UpdateFailureCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/AddUsersToRoles" message="tns:IEresService_AddUsersToRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/AddUsersToRolesResponse" message="tns:IEresService_AddUsersToRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/CreateRole" message="tns:IEresService_CreateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/CreateRoleResponse" message="tns:IEresService_CreateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/DeleteRole" message="tns:IEresService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/DeleteRoleResponse" message="tns:IEresService_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetAllRoles" message="tns:IEresService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetAllRolesResponse" message="tns:IEresService_GetAllRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetRolesForUser" message="tns:IEresService_GetRolesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetRolesForUserResponse" message="tns:IEresService_GetRolesForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetUsersInRole" message="tns:IEresService_GetUsersInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetUsersInRoleResponse" message="tns:IEresService_GetUsersInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/IsUserInRole" message="tns:IEresService_IsUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/IsUserInRoleResponse" message="tns:IEresService_IsUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/RemoveUsersFromRoles" message="tns:IEresService_RemoveUsersFromRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/RemoveUsersFromRolesResponse" message="tns:IEresService_RemoveUsersFromRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/RoleExists" message="tns:IEresService_RoleExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/RoleExistsResponse" message="tns:IEresService_RoleExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/FindUsersInRole" message="tns:IEresService_FindUsersInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/FindUsersInRoleResponse" message="tns:IEresService_FindUsersInRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEresService" type="tns:IEresService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContactPageUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetContactPageUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <soap:operation soapAction="http://tempuri.org/IEresService/AddRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRestaurant">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantsByManagerLogin">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetRestaurantsByManagerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetMainPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMainPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditMainPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetDeliveryPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDeliveryPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditDeliveryPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetEventsPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEventsPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditEventsPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetContactPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditContactPage">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditContactPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IEresService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IEresService/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IEresService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuManager">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetMenuManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/IEresService/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetCountriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTowns">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetTowns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantByTown">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetRestaurantByTown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainPageUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetMainPageUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryPageUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetDeliveryPageUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsPageUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetEventsPageUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordAnswer">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetPasswordAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserQuestion">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUserQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetNumberOfUsersOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/UnlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUserNameByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLoginDate">
      <soap:operation soapAction="http://tempuri.org/IEresService/UpdateUserLoginDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFailureCount">
      <soap:operation soapAction="http://tempuri.org/IEresService/UpdateFailureCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <soap:operation soapAction="http://tempuri.org/IEresService/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/IEresService/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IEresService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetUsersInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <soap:operation soapAction="http://tempuri.org/IEresService/IsUserInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <soap:operation soapAction="http://tempuri.org/IEresService/RemoveUsersFromRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <soap:operation soapAction="http://tempuri.org/IEresService/RoleExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <soap:operation soapAction="http://tempuri.org/IEresService/FindUsersInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EresService">
    <wsdl:port name="BasicHttpBinding_IEresService" binding="tns:BasicHttpBinding_IEresService">
      <soap:address location="http://localhost:8733/Erestauracja/Contract/EresService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>