Erestauracja/Service References/ServiceReference/EresService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EresService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Erestauracja/Contract/EresService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEresService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePasswordQuestionAndAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="IEresService_ChangePasswordQuestionAndAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="IEresService_GetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IEresService">
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ChangePassword" message="tns:IEresService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ChangePasswordResponse" message="tns:IEresService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswer" message="tns:IEresService_ChangePasswordQuestionAndAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswerResponse" message="tns:IEresService_ChangePasswordQuestionAndAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEresService/GetPassword" message="tns:IEresService_GetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEresService/GetPasswordResponse" message="tns:IEresService_GetPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEresService" type="tns:IEresService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/IEresService/ChangePasswordQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/IEresService/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EresService">
    <wsdl:port name="BasicHttpBinding_IEresService" binding="tns:BasicHttpBinding_IEresService">
      <soap:address location="http://localhost:8733/Erestauracja/Contract/EresService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>